source "Kconfig.zephyr"

config AUDIO_PERF_MEASUREMENT
	bool "Audio performance instrumentation"
	default y

config AUDIO_PERF_DEADLINE_US
	int "Per-path deadline threshold in microseconds"
	default 10000
