CompileFlags:
  CompilationDatabase: build/app
  Remove:
    - -fno-printf-return-value
    - -fno-reorder-functions
    - -mfp16-format=*
    - --specs=*
    - -fno-defer-pop
    - -fno-freestanding
  Add:
    - --target=arm-none-eabi
