# Global block — applies to all files
CompileFlags:
  CompilationDatabase: /home/thomas-win/ncs/v3.3.0/build/le-audio-receiver # or merged DB
  Remove:
    - -fno-printf-return-value
    - -fno-reorder-functions
    - -mfp16-format=*
    - --specs=*
    - -fno-defer-pop
    - -fno-freestanding
  Add:
    - --target=arm-none-eabi
